:root {
    --main-color: #212121;
    --second-color: #757575;
    --accent-color: #2196F3;
    --background-color: #E5E5E5;
    --header-background-color: #FFFFFF;
    --footer-background-color: #2F303A;
    --footer-main-text: #ffffff;
    --footer-second-text: rgba(255, 255, 255, 0.6);
}
body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-family:  'Roboto', sans-serif;
    font-style: normal;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.btn {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;   
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*HEADER*/
.header {
    font-size: 14px;

    background-color: #FFFFFF;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;
    
    color: #000000;    
}
.header-logo span {
    color: var(--accent-color);
}

.header-logo:hover,
.header-logo:focus {
    color: var(--accent-color);
    text-decoration: underline;
}
.main-nav-link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-color);
}
.main-nav-link:hover,
.main-nav-link:focus {
    text-decoration: underline;
}
.current {
    color: var(--accent-color);
}
.conneсtion-nav-link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--second-color);
}
.conneсtion-nav-link:hover,
.conneсtion-nav-link:focus {
    text-decoration: underline;
}
/*main*/


/*footer*/
.footer {
    background-color: var(--footer-background-color);
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;
    
    color: var(--footer-main-text);    
}
.footer-logo span {
    color: var(--accent-color);
}

.footer-logo:hover,
.footer-logo:focus {
    
    text-decoration: underline var(--accent-color);
}
.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  
    letter-spacing: 0.03em;

    color: var(--footer-main-text);
}
.address:hover,
.address:focus {
    text-decoration: underline var(--accent-color);
}
.footer-cont {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
   
    letter-spacing: 0.03em;

    color: var(--footer-second-text);
}
.footer-cont:hover,
.footer-cont:focus {
    
    text-decoration: underline var(--accent-color);
}